@using WebUI.App_GlobalResources;
@{
    ViewBag.Title = "Статус проектов";
    Layout = "~/Areas/Project/Views/Shared/_Project.cshtml";
}
@section styles {
    @Styles.Render("~/jquery-ui/css")
    @* <link rel="stylesheet" type="text/css" href="~/Content/Gantt/jsgantt.css">*@
    @*<link rel="stylesheet" href="~/Content/themes/default/style.min.css">*@
    <link rel="stylesheet" type="text/css" href="~/Content/project/project_status.css">

}

@section scripts {
    @Scripts.Render("~/bundles/Moment")
    @Scripts.Render("~/bundles/jquery-ui");

    @*<script src="~/Scripts/Gantt/jsgantt.js" type="text/javascript"></script>
        <script src="~/Scripts/jstree.min.js" type="text/javascript"></script>*@

    <script src="~/Scripts/jquery.mixitup.min.js" type="text/javascript"></script>
    <script src="~/Scripts/shared/common.js" type="text/javascript"></script>

    <script src="~/Scripts/api/common.js" type="text/javascript"></script>
    <script src="~/Scripts/api/dpa.js" type="text/javascript"></script>
    <script src="~/Scripts/api/project.js" type="text/javascript"></script>

    <script src="~/Scripts/project/project_status.js" type="text/javascript"></script>

}

<input id="username" type="hidden" value="@User.Identity.Name" />
<div id="lockPanel" class="LockOff"></div>
<main class="cd-main-content">
    <div class="cd-tab-filter-wrapper">
        <div class="cd-tab-filter">
            <ul class="cd-filters">
                <li class="placeholder">
                    <a data-type="all" href="#0">All</a> <!-- selected option on mobile -->
                </li>
                <li class="filter"><a class="selected" href="#0" data-type="all">@ProjectResource.filter_All</a></li>
                <li class="filter" data-filter=".strategic"><a href="#0" data-type="strategic">@ProjectResource.filter_Strategic_CAPEX</a></li>
                <li class="filter" data-filter=".normative"><a href="#0" data-type="normative">@ProjectResource.filter_Normative_CAPEX</a></li>
            </ul> <!-- cd-filters -->
        </div> <!-- cd-tab-filter -->
    </div> <!-- cd-tab-filter-wrapper -->
    <section class="cd-gallery">
        <ul>
            @*<li class="mix strategic check1 status-open subdivisions2">
                    <a href="#0">
                        <div class="card border-danger">
                            <div class="card-header bg-danger text-white">
                                <h1>Нормативный CAPEX</h1>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <img class="card-img-top" src="~/Images/project/pm-card4.png" alt="Card image cap">
                                    </div>
                                    <div class="col-xl-6" id="prj-info">
                                        <h2 class="card-title text-danger">AMKR</h2>
                                        <p class="card-text">
                                            Оборудование системой Fingerprint холла ИВЦ» и «Системы видеоконференцсвязи и отображения компьютерной видеоинформации в конференцзалах и комнате переговоров здании ИВЦ» (под ключ) ПАО «АрселорМиттал Кривой Рог»
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="mix strategic check1 status-open subdivisions2">
                    <a href="#0">
                        <div class="card border-dark">
                            <div class="card-header bg-dark text-white">
                                <h1>Нормативный CAPEX</h1>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <img class="card-img-top" src="~/Images/project/pm-card4.png" alt="Card image cap">
                                    </div>
                                    <div class="col-xl-6" id="prj-info">
                                        <h2 class="card-title text-dark">AMKR</h2>
                                        <p class="card-text">
                                            Оборудование системой Fingerprint холла ИВЦ» и «Системы видеоконференцсвязи и отображения компьютерной видеоинформации в конференцзалах и комнате переговоров здании ИВЦ» (под ключ) ПАО «АрселорМиттал Кривой Рог»
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="mix strategic check1 status-open subdivisions2">
                    <a href="#0">
                        <div class="card border-primary">
                            <div class="card-header bg-primary text-white">
                                <h1>Нормативный CAPEX</h1>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <img class="card-img-top" src="~/Images/project/pm-card4.png" alt="Card image cap">
                                    </div>
                                    <div class="col-xl-6" id="prj-info">
                                        <h2 class="card-title text-primary">AMKR</h2>
                                        <p class="card-text">
                                            Оборудование системой Fingerprint холла ИВЦ» и «Системы видеоконференцсвязи и отображения компьютерной видеоинформации в конференцзалах и комнате переговоров здании ИВЦ» (под ключ) ПАО «АрселорМиттал Кривой Рог»
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="mix normative check2 status-open subdivisions3">
                    <a href="#0">
                        <div class="card border-info">
                            <div class="card-header bg-info text-white">
                                <h1>Стратегический CAPEX</h1>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <img class="card-img-top" src="~/Images/project/pm-card4.png" alt="Card image cap">
                                    </div>
                                    <div class="col-xl-6" id="prj-info">
                                        <h2 class="card-title text-info">АЦ-2</h2>
                                        <p class="card-text">
                                            АСУТП агломашины №4 (собственно а/м, эксгаутер, экомониторинг) АЦ2
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="mix normative check2 status-open subdivisions3">
                    <a href="#0">
                        <div class="card border-warning">
                            <div class="card-header bg-warning text-white">
                                <h1>Стратегический CAPEX</h1>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <img class="card-img-top" src="~/Images/project/pm-card4.png" alt="Card image cap">
                                    </div>
                                    <div class="col-xl-6" id="prj-info">
                                        <h2 class="card-title text-warning">АЦ-2</h2>
                                        <p class="card-text">
                                            АСУТП агломашины №4 (собственно а/м, эксгаутер, экомониторинг) АЦ3
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>*@
        </ul>
        <div class="cd-fail-message">No results found</div>
    </section> <!-- cd-gallery -->
    <div class="cd-filter">
        <form>
            <div class="cd-filter-block">
                <h4>@ProjectResource.filter_title_department</h4>
                <div class="cd-filter-content">
                    <div class="cd-select cd-filters">
                        <select class="filter" name="select-department" id="select-department"></select>
                    </div> <!-- cd-select -->
                </div> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->
            <div class="cd-filter-block">
                <h4>@ProjectResource.filter_title_select_division</h4>
                <div class="cd-filter-content">
                    <div class="cd-select cd-filters">
                        <select class="filter" name="select-subdivisions" id="select-subdivisions"></select>
                    </div> <!-- cd-select -->
                </div> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->
        </form>
        <a href="#0" class="cd-close">@ProjectResource.filter_title_close</a>
    </div> <!-- cd-filter -->
    <a href="#0" class="cd-filter-trigger">@ProjectResource.filter_title_filters</a>
</main> <!-- cd-main-content -->

<div class="cd-project-content">
    <div class="container-fluid">
        <div class="card border-success">
            <div class="card-header bg-success text-white">
                <h1 id="name_project_title">Название проекта</h1>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-6 mb-3">
                        <div class="card">
                            <div class="card-header">
                                <h2>Общие характеристики проекта</h2>
                            </div>
                            <div class="card-body">
                                <div class="row col-xl-12">
                                    <p><strong>Наименование проекта: </strong><em id="name_project"></em></p>
                                </div>
                                <div class="row col-xl-12">
                                    <p><strong>Тип проекта: </strong><em id="type_project"></em></p>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <p><strong>Подразделение внедрения: </strong><em id="structural_subdivisions"></em></p>
                                    </div>
                                    <div class="col-xl-6">
                                        <p><strong>Подразделение заказчик: </strong><em id="customer"></em></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <p><strong>СПП Элемент: </strong><em id="spp_sap"></em></p>
                                    </div>
                                    <div class="col-xl-6">
                                        <p><strong>Владелец строки: </strong><em id="spp_owner"></em></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <p><strong>Начало проекта: </strong><em id="start_project"></em></p>
                                    </div>
                                    <div class="col-xl-6">
                                        <p><strong>Конец проекта(по контракту): </strong><em id="stop_project_contract"></em></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 mb-3">
                        <div class="card">
                            <div class="card-header">
                                <h2>Цели проекта</h2>
                            </div>
                            <div class="card-body">
                                <p><strong>Цель проекта: </strong><em id="goals_project"></em></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 mb-3">
                        <div class="card">
                            <div class="card-header">
                                <h2>Текущий статус внедрения проекта</h2>
                            </div>
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 mb-3">
                        <div class="card">
                            <div class="card-header">
                                <h2>Шаги внедрения проекта</h2>
                            </div>
                            <div class="card-body">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#0" class="close cd-img-replace">Close</a>
</div> <!-- .cd-project-content -->
