@using WebUI.App_GlobalResources;
@{
    ViewBag.Title = "Список проектов";
    Layout = "~/Areas/Project/Views/Shared/_Project.cshtml";
}
@section styles {
    @Styles.Render("~/jquery-ui/css")
    @Styles.Render("~/DateTime/css")
    <link rel="stylesheet" type="text/css" href="~/Content/Gantt/jsgantt.css">

    <link rel="stylesheet" type="text/css" href="~/Content/project/project_list.css">

}

@section scripts {

    @Scripts.Render("~/bundles/jquery-ui");
    @Scripts.Render("~/bundles/DateTime")
    <script src="~/Scripts/Gantt/jsgantt.js" type="text/javascript"></script>

    <script src="~/Scripts/jquery.mixitup.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.cookie.js" type="text/javascript"></script>
    <script src="~/Scripts/shared/common.js" type="text/javascript"></script>

    <script src="~/Scripts/api/common.js" type="text/javascript"></script>
    <script src="~/Scripts/api/dpa.js" type="text/javascript"></script>
    <script src="~/Scripts/api/project.js" type="text/javascript"></script>

    <script src="~/Scripts/project/project_list.js" type="text/javascript"></script>
    @*<script src="~/Scripts/project/test.js" type="text/javascript"></script>*@
}

<input id="username" type="hidden" value="@User.Identity.Name" />
<div id="lockPanel" class="LockOff"></div>
<main class="cd-main-content">
    <div class="cd-tab-filter-wrapper">
        <div class="cd-tab-filter">
            <ul class="cd-filters">
                <li class="placeholder">
                    <a data-type="all" href="#0">All</a> <!-- selected option on mobile -->
                </li>
                <li class="filter"><a class="selected" href="#0" data-type="all">@ProjectResource.filter_All</a></li>
                <li class="filter" data-filter=".strategic"><a href="#0" data-type="strategic">@ProjectResource.filter_Strategic_CAPEX</a></li>
                <li class="filter" data-filter=".normative"><a href="#0" data-type="normative">@ProjectResource.filter_Normative_CAPEX</a></li>
            </ul> <!-- cd-filters -->
        </div> <!-- cd-tab-filter -->
    </div> <!-- cd-tab-filter-wrapper -->
    <section class="cd-gallery">
        <ul>
            @*<li class="mix strategic check1 status-open subdivisions3">
                            <a href="#0">
                                <img src="~/Images/project/img.png" alt="Image 1">
                                <div class="project-info">
                                    <h2>Project 1</h2>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </a>
                        </li>
                        <li class="mix normative check2 status-open subdivisions2">
                            <a href="#0">
                                <img src="~/Images/project/img.png" alt="Image 2">
                                <div class="project-info">
                                    <h2>Project 2</h2>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </a>
                        </li>
                        <li class="mix strategic check3 status-close subdivisions1">
                    <a href="#0">
                        <img src="~/Images/project/img.png" alt="Image 3">
                        <div class="project-info">
                            <h2>Project 3</h2>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </a>
                </li>
                <li class="mix strategic check3 status-open subdivisions4">
                    <a href="#0">
                        <img src="~/Images/project/img.png" alt="Image 4">
                        <div class="project-info">
                            <h2>Project 4</h2>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </a>
                </li>
                <li class="mix strategic check1 status-pause subdivisions2">
                    <a href="#0">
                        <img src="~/Images/project/img.png" alt="Image 5">
                        <div class="project-info">
                            <h2>Project 5</h2>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </a>
                </li>
                <li class="mix normative check2 status-close subdivisions3">
                    <a href="#0">
                        <img src="~/Images/project/img.png" alt="Image 6">
                        <div class="project-info">
                            <h2>Project 6</h2>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </a>
                </li>
                <li class="mix normative check2 status-pause subdivisions1">
                    <a href="#0">
                        <img src="~/Images/project/img.png" alt="Image 7">
                        <div class="project-info">
                            <h2>Project 7</h2>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </a>
                </li>
                <li class="mix strategic check1 status-close subdivisions4">
                    <a href="#0">
                        <img src="~/Images/project/img.png" alt="Image 8">
                        <div class="project-info">
                            <h2>Project 8</h2>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </a>
                </li>
                <li class="mix normative check1 status-open subdivisions3">
                    <a href="#0">
                        <img src="~/Images/project/img.png" alt="Image 9">
                        <div class="project-info">
                            <h2>Project 9</h2>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </a>
                </li>
                <li class="mix strategic check3 status-open subdivisions4">
                    <a href="#0">
                        <img src="~/Images/project/img.png" alt="Image 10">
                        <div class="project-info">
                            <h2>Project 10</h2>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </a>
                </li>
                <li class="mix strategic check3 status-close subdivisions2">
                    <a href="#0">
                        <img src="~/Images/project/img.png" alt="Image 11">
                        <div class="project-info">
                            <h2>Project 11</h2>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </a>
                </li>
                <li class="mix normative check1 status-close subdivisions1">
                    <a href="#0">
                        <img src="~/Images/project/img.png" alt="Image 12">
                        <div class="project-info">
                            <h2>Project 12</h2>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </a>
                </li>*@
            @*<li class="gap"></li>
                <li class="gap"></li>
                <li class="gap"></li>*@
        </ul>
        <div class="cd-fail-message">No results found</div>
    </section> <!-- cd-gallery -->
    <div class="cd-filter">
        <form>
            @*<div class="cd-filter-block">
                    <h4>Search</h4>

                    <div class="cd-filter-content">
                        <input type="search" placeholder="Try strategic...">
                    </div> <!-- cd-filter-content -->
                </div> <!-- cd-filter-block -->*@

            <div class="cd-filter-block" id="list-project-manager">
                <h4>@ProjectResource.filter_title_project_manager</h4>
                <ul class="cd-filter-content cd-filters list">
                    @*<li>
                            <input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
                            <label class="checkbox-label" for="checkbox1">Option 1</label>
                        </li>
                        <li>
                            <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
                            <label class="checkbox-label" for="checkbox2">Option 2</label>
                        </li>
                        <li>
                            <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                            <label class="checkbox-label" for="checkbox3">Option 3</label>
                        </li>*@
                </ul> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->

            <div class="cd-filter-block">
                <h4>@ProjectResource.filter_title_subdivisions</h4>

                <div class="cd-filter-content">
                    <div class="cd-select cd-filters">
                        <select class="filter" name="selectThis" id="selectThis">
                            <option value="">@ProjectResource.filter_select_title_select_division</option>
                            @*<option value=".subdivisions1">Option 1</option>
                                <option value=".subdivisions2">Option 2</option>
                                <option value=".subdivisions3">Option 3</option>
                                <option value=".subdivisions4">Option 4</option>*@
                        </select>
                    </div> <!-- cd-select -->
                </div> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->
            <div class="cd-filter-block">
                <h4>@ProjectResource.filter_title_status</h4>
                <ul class="cd-filter-content cd-filters list">
                    <li>
                        <input class="filter" data-filter="" type="radio" name="radioButton" id="radio1">
                        <label class="radio-label" for="radio1">@ProjectResource.filter_All</label>
                    </li>
                    <li>
                        <input class="filter" data-filter=".status-open" type="radio" name="radioButton" id="status-open" checked>
                        <label class="radio-label" for="status-open">@ProjectResource.filter_status_open</label>
                    </li>
                    <li>
                        <input class="filter" data-filter=".status-close" type="radio" name="radioButton" id="status-close">
                        <label class="radio-label" for="status-close">@ProjectResource.filter_status_close</label>
                    </li>
                    <li>
                        <input class="filter" data-filter=".status-pause" type="radio" name="radioButton" id="status-pause">
                        <label class="radio-label" for="status-pause">@ProjectResource.filter_status_pause</label>
                    </li>

                </ul> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->
        </form>
        <a href="#0" class="cd-close">@ProjectResource.filter_title_close</a>
    </div> <!-- cd-filter -->
    <a href="#0" class="cd-filter-trigger">@ProjectResource.filter_title_filters</a>
</main> <!-- cd-main-content -->

<div class="cd-project-content">
    <div>
        <h2 class="mode-view"></h2>
        <em class="mode-view"></em>
        <form class="cd-form floating-labels">
            <div class="mode-add">
                <input type="submit" id="save-all" value="Сохранить">
                <input type="button" id="cancel-all" value="Отмена">
            </div>
            <div id="accordion_project_info">
                <h3>@ProjectResource.title_project_info</h3>
                <div>
                    @* Окно для просмотра *@
                    <div class="mode-view mode-edit-performer  mode-edit-budget mode-edit-manager">
                        <div>
                            <input type="button" id="edit-info" value="Править">
                        </div>

                        <div class="icon">
                            <label class="cd-label" for="cd-structural-subdivisions-project-view">@ProjectResource.title_structural_subdivisions</label>
                            <input class="budget" type="text" id="cd-structural-subdivisions-project-view" name="cd-structural-subdivisions-project-view" disabled="disabled">
                        </div>

                        <div class="icon">
                            <label class="cd-label" for="cd-goals-project-view">@ProjectResource.title_goals_project</label>
                            <textarea class="message" name="cd-goals-project-view" id="cd-goals-project-view" disabled="disabled"></textarea>
                        </div>

                        <div class="icon">
                            <label class="cd-label" for="cd-customer-project-view">@ProjectResource.title_project_customer</label>
                            <input class="budget" type="text" id="cd-customer-project-view" name="cd-customer-project-view" disabled="disabled">
                        </div>

                        <div class="icon">
                            <label class="cd-label" for="cd-spp-element-owner-project-view">@ProjectResource.title_spp_element_owner</label>
                            <input class="message" type="text" id="cd-spp-element-owner-project-view" name="cd-spp-element-owner-project-view" disabled="disabled">
                        </div>

                        <div class="icon-group">
                            <div class="icon left-position">
                                <label class="cd-label" for="cd-start-project-view">@ProjectResource.title_start_project</label>
                                <input class="message" type="date" id="cd-start-project-view" name="cd-start-project-view" disabled="disabled">
                            </div>
                            <div class="icon right-position">
                                <label class="cd-label" for="cd-stop-project-edit">@ProjectResource.title_stop_project</label>
                                <input class="message" type="date" id="cd-stop-project-view" name="cd-stop-project-view" disabled="disabled">
                            </div>
                        </div>
                    </div>
                    @* Окно для правки *@
                    <div class="mode-add mode-edit-info" id="accordion-info">
                        <div>
                            <p class="validate-info"></p>
                        </div>
                        <div>
                            <input type="submit" id="save-info" value="Сохранить" class="mode-edit-info">
                            <input type="button" id="cancel-info" value="Отмена" class="mode-edit-info">
                        </div>

                        <div>
                            <h4>@ProjectResource.title_status_project</h4>
                            <p class="cd-select icon">
                                <select class="budget" id="cd-status-project-edit" name="cd-status-project-edit" required></select>
                            </p>
                        </div>

                        <div>
                            <h4>@ProjectResource.title_type_project</h4>
                            <p class="cd-select icon">
                                <select class="type-project" id="cd-type-project-edit" name="cd-type-project-edit" required></select>
                            </p>
                        </div>

                        <div>
                            <h4>@ProjectResource.title_structural_subdivisions</h4>
                            <p class="cd-select icon">
                                <select class="budget" id="cd-structural-subdivisions-project-edit" name="cd-structural-subdivisions-project-edit" required></select>
                            </p>
                        </div>

                        <div class="icon">
                            <label class="cd-label" for="cd-name-project-ru-edit">@ProjectResource.title_name_project_ru</label>
                            <textarea class="message" name="cd-name-project-ru-edit" id="cd-name-project-ru-edit" required></textarea>
                        </div>

                        <div class="icon">
                            <label class="cd-label" for="cd-name-project-en-edit">@ProjectResource.title_name_project_en</label>
                            <textarea class="message" name="cd-name-project-en-edit" id="cd-name-project-en-edit" required></textarea>
                        </div>

                        <div class="icon">
                            <label class="cd-label" for="cd-goals-project-ru-edit">@ProjectResource.title_goals_project_ru</label>
                            <textarea class="message" name="cd-goals-project-ru-edit" id="cd-goals-project-ru-edit" required></textarea>
                        </div>

                        <div class="icon">
                            <label class="cd-label" for="cd-goals-project-en-edit">@ProjectResource.title_goals_project_en</label>
                            <textarea class="message" name="cd-goals-project-en-edit" id="cd-goals-project-en-edit" required></textarea>
                        </div>

                        <div>
                            <h4>@ProjectResource.title_project_customer</h4>
                            <p class="cd-select icon">
                                <select class="budget" id="cd-customer-project-edit" name="cd-customer-project-edit" required></select>
                            </p>
                        </div>

                        @*<div class="icon">*@
                        <div class="left-position">
                            <h4>@ProjectResource.title_spp_owner</h4>
                            <p class="cd-select icon">
                                <select class="budget" id="cd-spp-owner-project-edit" name="cd-spp-owner-project-edit"></select>
                            </p>
                        </div>
                        <div class="icon right-position-select">
                            <label class="cd-label" for="cd-spp-sap-edit">@ProjectResource.title_spp_element</label>
                            <input class="message" type="text" id="cd-spp-sap-edit" name="cd-spp-sap-edit">
                        </div>
                        @*</div>*@

                        @*<div class="icon">*@
                        <div class="icon left-position">
                            <label class="cd-label" for="cd-start-project-edit">@ProjectResource.title_start_project</label>
                            <input class="message" type="date" id="cd-start-project-edit" name="cd-start-project-edit">
                        </div>
                        <div class="icon right-position">
                            <label class="cd-label" for="cd-stop-project-edit">@ProjectResource.title_stop_project</label>
                            <input class="message" type="date" id="cd-stop-project-edit" name="cd-stop-project-edit">
                        </div>
                        @*<</div>*@
                    </div>
                </div>

            </div>
            <div id="accordion_project_performer">
                <h3>@ProjectResource.title_project_performer</h3>
                <div>
                    @* Окно для просмотра *@
                    <div class="mode-view mode-edit-info mode-edit-budget mode-edit-manager">
                        <div>
                            <input type="button" id="edit-performer" value="Править">
                        </div>
                        <div class="icon">
                            <label class="cd-label" for="cd-name-performer-project-view">@ProjectResource.title_email_performer</label>
                            <input class="budget" type="text" id="cd-name-performer-project-view" name="cd-name-performer-project-view" disabled="disabled">
                        </div>
                        <div class="icon">
                            <label class="cd-label" for="cd-email-performer-project-view">@ProjectResource.title_email_performer</label>
                            <input class="email" type="email" id="cd-email-performer-project-view" name="cd-email-performer-project-view" disabled="disabled">
                        </div>
                        <div class="icon">
                            <label class="cd-label" for="cd-phone-performer-project-view">@ProjectResource.title_phone_performer ((xxx)-xx-xx-xxx)</label>
                            <input class="budget" type="tel" id="cd-phone-performer-project-view" name="cd-phone-performer-project-view" disabled="disabled">
                        </div>
                        <div class="icon">
                            <label class="cd-label" for="cd-name-boss-performer-project-view">@ProjectResource.title_name_boss_performer</label>
                            <input class="user" type="text" id="cd-name-boss-performer-project-view" name="cd-name-boss-performer-project-view" disabled="disabled">
                        </div>
                        <div class="icon">
                            <label class="cd-label" for="cd-phone-boss-performer-project-view">@ProjectResource.title_phone_boss_performer ((xxx)-xx-xx-xxx)</label>
                            <input class="budget" type="tel" id="cd-phone-boss-performer-project-view" name="cd-phone-boss-performer-project-view" disabled="disabled">
                        </div>
                    </div>
                    @* Окно для правки *@
                    <div class="mode-add mode-edit-performer" id="accordion-performer">
                        <div>
                            <p class="validate-performer"></p>
                        </div>
                        <div>
                            <input type="submit" id="save-performer" value="Сохранить" class="mode-edit-performer">
                            <input type="button" id="cancel-performer" value="Отмена" class="mode-edit-performer">
                        </div>
                        <div id="name-performer-project">
                            <h4>@ProjectResource.title_name_performer</h4>
                            <p class="cd-select icon">
                                <select class="budget" id="cd-name-performer-project-edit" name="cd-name-performer-project-edit"></select>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="accordion_project_budget">
                <h3>@ProjectResource.title_project_budget</h3>
                <div>
                    @* Окно для просмотра *@
                    <div class="mode-view mode-edit-info mode-edit-performer mode-edit-manager">
                        <div>
                            <input type="button" id="edit-budget" value="Править">
                        </div>
                        <fieldset>
                            <legend>@ProjectResource.title_budget_contract</legend>
                            <div class="icon left-position">
                                <label class="cd-label" for="cd-budget-project-view">@ProjectResource.title_budget_project</label>
                                <input class="budget" type="number" id="cd-budget-project-view" name="cd-budget-project-view" disabled="disabled">
                            </div>
                            <div class="icon right-position">
                                <label class="cd-label" for="cd-contract-project-view">@ProjectResource.title_contract_project</label>
                                <input class="budget" type="number" id="cd-contract-project-view" name="cd-contract-project-view" disabled="disabled">
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>@ProjectResource.title_plan_fact</legend>
                            <div class="icon left-position">
                                <label class="cd-label" for="cd-contract-engineering-project-view">@ProjectResource.title_contract_engineering</label>
                                <input class="budget" type="number" id="cd-contract-engineering-project-view" name="cd-contract-engineering-project-view" disabled="disabled">
                            </div>
                            <div class="icon right-position">
                                <label class="cd-label" for="cd-payment-engineering-project-view">@ProjectResource.title_payment_engineering</label>
                                <input class="budget" type="number" id="cd-payment-engineering-project-view" name="cd-payment-engineering-project-view" disabled="disabled">
                            </div>
                            <div class="icon left-position">
                                <label class="cd-label" for="cd-contract-equipment-project-view">@ProjectResource.title_contract_equipment</label>
                                <input class="budget" type="number" id="cd-contract-equipment-project-view" name="cd-contract-equipment-project-view" disabled="disabled">
                            </div>
                            <div class="icon right-position">
                                <label class="cd-label" for="cd-payment-equipment-project-view">@ProjectResource.title_payment_equipment</label>
                                <input class="budget" type="number" id="cd-payment-equipment-project-view" name="cd-payment-equipment-project-view" disabled="disabled">
                            </div>
                            <div class="icon left-position">
                                <label class="cd-label" for="cd-contract-construction-project-view">@ProjectResource.title_contract_construction</label>
                                <input class="budget" type="number" id="cd-contract-construction-project-view" name="cd-contract-construction-project-view" disabled="disabled">
                            </div>
                            <div class="icon right-position">
                                <label class="cd-label" for="cd-payment-construction-project-view">@ProjectResource.title_payment_construction</label>
                                <input class="budget" type="number" id="cd-payment-construction-project-view" name="cd-payment-construction-project-view" disabled="disabled">
                            </div>
                            <div class="icon left-position">
                                <label class="cd-label" for="cd-contract-commissioning-project-view">@ProjectResource.title_contract_commissioning</label>
                                <input class="budget" type="number" id="cd-contract-commissioning-project-view" name="cd-contract-commissioning-project-view" disabled="disabled">
                            </div>
                            <div class="icon right-position">
                                <label class="cd-label" for="cd-payment-commissioning-project-view">@ProjectResource.title_payment_commissioning</label>
                                <input class="budget" type="number" id="cd-payment-commissioning-project-view" name="cd-payment-commissioning-project-view" disabled="disabled">
                            </div>
                            <div class="icon left-position">
                                <label class="cd-label" for="cd-contract-other-project-view">@ProjectResource.title_contract_other</label>
                                <input class="budget" type="number" id="cd-contract-other-project-view" name="cd-contract-other-project-view" disabled="disabled">
                            </div>
                            <div class="icon right-position">
                                <label class="cd-label" for="cd-payment-other-project-view">@ProjectResource.title_payment_other</label>
                                <input class="budget" type="number" id="cd-payment-other-project-view" name="cd-payment-other-project-view" disabled="disabled">
                            </div>
                        </fieldset>

                    </div>
                    @* Окно для правки *@
                    <div class="mode-add mode-edit-budget" id="accordion-budget">
                        <div>
                            <p class="validate-budget"></p>
                        </div>
                        <div>
                            <input type="submit" id="save-budget" value="Сохранить" class="mode-edit-budget">
                            <input type="button" id="cancel-budget" value="Отмена" class="mode-edit-budget">
                        </div>
                        <fieldset>
                            <legend>@ProjectResource.title_budget_contract</legend>
                            <div class="icon-group">
                                <div class="icon left-position-select">
                                    <label class="cd-label" for="cd-budget-project-edit">@ProjectResource.title_budget_project</label>
                                    <input class="budget" type="number" id="cd-budget-project-edit" name="cd-budget-project-edit">
                                </div>
                                <div class="right-position">
                                    <h4>@ProjectResource.title_currency</h4>
                                    <p class="cd-select icon">
                                        <select class="budget" id="cd-budget-currency-project-edit" name="cd-budget-currency-project-edit"></select>
                                    </p>
                                </div>
                            </div>
                            <div class="icon-group">
                                <div class="icon left-position-select">
                                    <label class="cd-label" for="cd-contract-project-edit">@ProjectResource.title_contract_project</label>
                                    <input class="budget" type="number" id="cd-contract-project-edit" name="cd-contract-project-edit">
                                </div>
                                <div class="right-position">
                                    <h4>@ProjectResource.title_currency</h4>
                                    <p class="cd-select icon">
                                        <select class="budget" id="cd-contract-currency-project-edit" name="cd-contract-currency-project-edit"></select>
                                    </p>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>@ProjectResource.title_contract_detali</legend>
                            <div class="icon-group">
                                <div class="icon left-position-select">
                                    <label class="cd-label" for="cd-contract-engineering-project-edit">@ProjectResource.title_summ_engineering</label>
                                    <input class="budget" type="number" id="cd-contract-engineering-project-edit" name="cd-contract-engineering-project-edit">
                                </div>
                                <div class="right-position">
                                    <h4>@ProjectResource.title_currency</h4>
                                    <p class="cd-select icon">
                                        <select class="budget" id="cd-contract-engineering-currency-project-edit" name="cd-contract-engineering-currency-project-edit"></select>
                                    </p>
                                </div>
                            </div>
                            <div class="icon-group">
                                <div class="icon left-position-select">
                                    <label class="cd-label" for="cd-contract-equipment-project-edit">@ProjectResource.title_summ_equipment</label>
                                    <input class="budget" type="number" id="cd-contract-equipment-project-edit" name="cd-contract-equipment-project-edit">
                                </div>
                                <div class="right-position">
                                    <h4>@ProjectResource.title_currency</h4>
                                    <p class="cd-select icon">
                                        <select class="budget" id="cd-contract-equipment-currency-project-edit" name="cd-contract-equipment-currency-project-edit"></select>
                                    </p>
                                </div>
                            </div>
                            <div class="icon-group">
                                <div class="icon left-position-select">
                                    <label class="cd-label" for="cd-contract-construction-project-edit">@ProjectResource.title_summ_construction</label>
                                    <input class="budget" type="number" id="cd-contract-construction-project-edit" name="cd-contract-construction-project-edit">
                                </div>
                                <div class="right-position">
                                    <h4>@ProjectResource.title_currency</h4>
                                    <p class="cd-select icon">
                                        <select class="budget" id="cd-contract-construction-currency-project-edit" name="cd-contract-construction-currency-project-edit"></select>
                                    </p>
                                </div>
                            </div>
                            <div class="icon-group">
                                <div class="icon left-position-select">
                                    <label class="cd-label" for="cd-contract-commissioning-project-edit">@ProjectResource.title_summ_commissioning</label>
                                    <input class="budget" type="number" id="cd-contract-commissioning-project-edit" name="cd-contract-commissioning-project-edit">
                                </div>
                                <div class="right-position">
                                    <h4>@ProjectResource.title_currency</h4>
                                    <p class="cd-select icon">
                                        <select class="budget" id="cd-contract-commissioning-currency-project-edit" name="cd-contract-commissioning-currency-project-edit"></select>
                                    </p>
                                </div>
                            </div>
                            <div class="icon-group">
                                <div class="icon left-position-select">
                                    <label class="cd-label" for="cd-contract-other-project-edit">@ProjectResource.title_summ_other</label>
                                    <input class="budget" type="number" id="cd-contract-other-project-edit" name="cd-contract-other-project-edit">
                                </div>
                                <div class="right-position">
                                    <h4>@ProjectResource.title_currency</h4>
                                    <p class="cd-select icon">
                                        <select class="budget" id="cd-contract-other-currency-project-edit" name="cd-contract-other-currency-project-edit"></select>
                                    </p>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>@ProjectResource.title_payment_detali</legend>
                            <div class="icon-group">
                                <div class="icon left-position-select">
                                    <label class="cd-label" for="cd-payment-engineering-project-edit">@ProjectResource.title_summ_engineering</label>
                                    <input class="budget" type="number" id="cd-payment-engineering-project-edit" name="cd-payment-engineering-project-edit">
                                </div>
                                <div class="right-position">
                                    <h4>@ProjectResource.title_currency</h4>
                                    <p class="cd-select icon">
                                        <select class="budget" id="cd-payment-engineering-currency-project-edit" name="cd-payment-engineering-currency-project-edit"></select>
                                    </p>
                                </div>
                            </div>
                            <div class="icon-group">
                                <div class="icon left-position-select">
                                    <label class="cd-label" for="cd-payment-equipment-project-edit">@ProjectResource.title_summ_equipment</label>
                                    <input class="budget" type="number" id="cd-payment-equipment-project-edit" name="cd-payment-equipment-project-edit">
                                </div>
                                <div class="right-position">
                                    <h4>@ProjectResource.title_currency</h4>
                                    <p class="cd-select icon">
                                        <select class="budget" id="cd-payment-equipment-currency-project-edit" name="cd-payment-equipment-currency-project-edit"></select>
                                    </p>
                                </div>
                            </div>
                            <div class="icon-group">
                                <div class="icon left-position-select">
                                    <label class="cd-label" for="cd-payment-construction-project-edit">@ProjectResource.title_summ_construction</label>
                                    <input class="budget" type="number" id="cd-payment-construction-project-edit" name="cd-payment-construction-project-edit">
                                </div>
                                <div class="right-position">
                                    <h4>@ProjectResource.title_currency</h4>
                                    <p class="cd-select icon">
                                        <select class="budget" id="cd-payment-construction-currency-project-edit" name="cd-payment-construction-currency-project-edit"></select>
                                    </p>
                                </div>
                            </div>
                            <div class="icon-group">
                                <div class="icon left-position-select">
                                    <label class="cd-label" for="cd-payment-commissioning-project-edit">@ProjectResource.title_summ_commissioning</label>
                                    <input class="budget" type="number" id="cd-payment-commissioning-project-edit" name="cd-payment-commissioning-project-edit">
                                </div>
                                <div class="right-position">
                                    <h4>@ProjectResource.title_currency</h4>
                                    <p class="cd-select icon">
                                        <select class="budget" id="cd-payment-commissioning-currency-project-edit" name="cd-payment-commissioning-currency-project-edit"></select>
                                    </p>
                                </div>
                            </div>
                            <div class="icon-group">
                                <div class="icon left-position-select">
                                    <label class="cd-label" for="cd-payment-other-project-edit">@ProjectResource.title_summ_other</label>
                                    <input class="budget" type="number" id="cd-payment-other-project-edit" name="cd-payment-other-project-edit">
                                </div>
                                <div class="right-position">
                                    <h4>@ProjectResource.title_currency</h4>
                                    <p class="cd-select icon">
                                        <select class="budget" id="cd-payment-other-currency-project-edit" name="cd-payment-other-currency-project-edit"></select>
                                    </p>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <div id="accordion_project_manager">
                <h3>@ProjectResource.title_project_manager</h3>
                <div>
                    @* Окно для просмотра *@
                    <div class="mode-view mode-edit-info mode-edit-performer mode-edit-budget">
                        <div>
                            <input type="button" id="edit-manager" value="Править">
                        </div>
                        <div class="icon">
                            <label class="cd-label" for="cd-project-manager-surname-view">@ProjectResource.title_surname</label>
                            <input class="user" type="text" id="cd-project-manager-surname-view" name="cd-project-manager-surname-view" disabled="disabled">
                        </div>
                        <div class="icon">
                            <label class="cd-label" for="cd-project-manager-name-view">@ProjectResource.title_name</label>
                            <input class="user" type="text" id="cd-project-manager-name-view" name="cd-project-manager-name-view" disabled="disabled">
                        </div>
                        <div class="icon">
                            <label class="cd-label" for="cd-project-manager-patronymic-view">@ProjectResource.title_patronymic</label>
                            <input class="user" type="text" id="cd-project-manager-patronymic-view" name="cd-project-manager-patronymic-view" disabled="disabled">
                        </div>
                        <div class="icon">
                            <label class="cd-label" for="cd-project-manager-email-view">@ProjectResource.title_email</label>
                            <input class="email" type="email" id="cd-project-manager-email-view" name="cd-project-manager-email-view" disabled="disabled">
                        </div>
                        <div class="icon">
                            <label class="cd-label" for="cd-project-manager-mobil-phone-view">@ProjectResource.title_mobil_phone ((xxx)-xx-xx-xxx)</label>
                            <input class="budget" type="tel" id="cd-project-manager-mobil-phone-view" name="cd-project-manager-mobil-phone-view" disabled="disabled">
                        </div>
                        <div class="icon">
                            <label class="cd-label" for="cd-project-manager-work-phone-view">@ProjectResource.title_work_phone (xxxxx)</label>
                            <input class="budget" type="tel" id="cd-project-manager-work-phone-view" name="cd-project-manager-work-phone-view" disabled="disabled">
                        </div>
                    </div>
                    @* Окно для правки *@
                    <div class="mode-add mode-edit-manager" id="accordion-manager">
                        <div>
                            <p class="validate-manager"></p>
                        </div>
                        <div>
                            <input type="submit" id="save-manager" value="Сохранить" class="mode-edit-manager">
                            <input type="button" id="cancel-manager" value="Отмена" class="mode-edit-manager">
                        </div>
                        <div id="project_manager">
                            <h4>@ProjectResource.title_project_manager</h4>
                            <p class="cd-select icon">
                                <select class="user" id="cd-project-manager" name="cd-project-manager" required></select>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
        </form>
        <div id="accordion_project_steps">
            <h3>@ProjectResource.title_project_steps</h3>
            <div>
                @* Окно для просмотра *@
                <div class="mode-view mode-edit-info mode-edit-performer mode-edit-budget">
                    <div>
                        <input type="button" id="edit-steps" value="Править">
                    </div>
                    <div>
                        @*<script src="~/Scripts/Gantt/jsgantt.js" type="text/javascript"></script>*@
                        <div style="position:relative" class="gantt" id="GanttChartDIV"></div>
                    </div>
                </div>
                @* Окно для правки *@
            </div>
        </div>
    </div>
    <a href="#0" class="close cd-img-replace">Close</a>
    @*<nav class="cd-stretchy-nav">
            <a class="cd-nav-trigger" href="#0">
                Menu
                <span aria-hidden="true"></span>
            </a>
            <ul>
                <li><a href="#0" id="close-detali-project"><span>Закрыть</span></a></li>
                <li><a href="#0" id="add-detali-project"><span>Добавить</span></a></li>
                <li><a href="#0" id="edit-detali-project"><span>Править</span></a></li>
                <li><a href="#0" id="delete-detali-project"><span>Удалить</span></a></li>
            </ul>
            <span aria-hidden="true" class="stretchy-nav-bg"></span>
        </nav>*@
</div> <!-- .cd-project-content -->
@* Окно редактирования и добавления проекта *@
@*<div id="add-edit-project" title="">
        <p class="validateTips">All form fields are required.</p>
        <form class="cd-form">
            <fieldset>
                <div class="icon">
                    <label class="cd-label" for="cd-name">Name</label>
                    <input class="user" type="text" name="cd-name" id="cd-name" required>
                </div>
                <div class="icon">
                    <label class="cd-label" for="cd-name-project">@ProjectResource.title_name_project @ProjectResource.title_ru</label>
                    <textarea class="name-project" name="cd-name-project" id="cd-name-project"></textarea>
                </div>
                <div class="icon">
                    <label class="cd-label" for="cd-name-project">@ProjectResource.title_name_project @ProjectResource.title_en</label>
                    <textarea class="name-project" name="cd-name-project" id="cd-name-project"></textarea>
                </div>
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>*@


