@using WebUI.App_GlobalResources;
@{
    ViewBag.Title = "Список проектов";
    Layout = "~/Areas/Project/Views/Shared/_Project.cshtml";
}
@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/project/project_list.css">
}

@section scripts {
    <script src="~/Scripts/jquery.mixitup.min.js" type="text/javascript"></script>
    <script src="~/Scripts/project/project_list.js" type="text/javascript"></script>
}

<main class="cd-main-content">
    <div class="cd-tab-filter-wrapper">
        <div class="cd-tab-filter">
            <ul class="cd-filters">
                <li class="placeholder">
                    <a data-type="all" href="#0">All</a> <!-- selected option on mobile -->
                </li>
                <li class="filter"><a class="selected" href="#0" data-type="all">@ProjectResource.filter_All</a></li>
                <li class="filter" data-filter=".strategic"><a href="#0" data-type="strategic">@ProjectResource.filter_Strategic_CAPEX</a></li>
                <li class="filter" data-filter=".normative"><a href="#0" data-type="normative">@ProjectResource.filter_Normative_CAPEX</a></li>
            </ul> <!-- cd-filters -->
        </div> <!-- cd-tab-filter -->
    </div> <!-- cd-tab-filter-wrapper -->
    <section class="cd-gallery">
        <ul>
            <li class="mix strategic check1 status-open subdivisions3">
                <a href="#0">
                    <img src="~/Images/project/img.png" alt="Image 1">
                    <div class="project-info">
                        <h2>Project 1</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </li>
            <li class="mix normative check2 status-open subdivisions2">
                <a href="#0">
                    <img src="~/Images/project/img.png" alt="Image 2">
                    <div class="project-info">
                        <h2>Project 2</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </li>
            <li class="mix strategic check3 status-close subdivisions1">
                <a href="#0">
                    <img src="~/Images/project/img.png" alt="Image 3">
                    <div class="project-info">
                        <h2>Project 3</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </li>
            <li class="mix strategic check3 status-open subdivisions4">
                <a href="#0">
                    <img src="~/Images/project/img.png" alt="Image 4">
                    <div class="project-info">
                        <h2>Project 4</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </li>
            <li class="mix strategic check1 status-pause subdivisions2">
                <a href="#0">
                    <img src="~/Images/project/img.png" alt="Image 5">
                    <div class="project-info">
                        <h2>Project 5</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </li>
            <li class="mix normative check2 status-close subdivisions3">
                <a href="#0">
                    <img src="~/Images/project/img.png" alt="Image 6">
                    <div class="project-info">
                        <h2>Project 6</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </li>
            <li class="mix normative check2 status-pause subdivisions1">
                <a href="#0">
                    <img src="~/Images/project/img.png" alt="Image 7">
                    <div class="project-info">
                        <h2>Project 7</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </li>
            <li class="mix strategic check1 status-close subdivisions4">
                <a href="#0">
                    <img src="~/Images/project/img.png" alt="Image 8">
                    <div class="project-info">
                        <h2>Project 8</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </li>
            <li class="mix normative check1 status-open subdivisions3">
                <a href="#0">
                    <img src="~/Images/project/img.png" alt="Image 9">
                    <div class="project-info">
                        <h2>Project 9</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </li>
            <li class="mix strategic check3 status-open subdivisions4">
                <a href="#0">
                    <img src="~/Images/project/img.png" alt="Image 10">
                    <div class="project-info">
                        <h2>Project 10</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </li>
            <li class="mix strategic check3 status-close subdivisions2">
                <a href="#0">
                    <img src="~/Images/project/img.png" alt="Image 11">
                    <div class="project-info">
                        <h2>Project 11</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </li>

            <li class="mix normative check1 status-close subdivisions1">
                <a href="#0">
                    <img src="~/Images/project/img.png" alt="Image 12">
                    <div class="project-info">
                        <h2>Project 12</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </a>
            </li>
            <li class="gap">

            </li>
            <li class="gap"></li>
            <li class="gap"></li>
        </ul>
        <div class="cd-fail-message">No results found</div>
    </section> <!-- cd-gallery -->
    <div class="cd-filter">
        <form>
            @*<div class="cd-filter-block">
                <h4>Search</h4>

                <div class="cd-filter-content">
                    <input type="search" placeholder="Try strategic...">
                </div> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->*@

            @*<div class="cd-filter-block">
                <h4>Check boxes</h4>
                <ul class="cd-filter-content cd-filters list">
                    <li>
                        <input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
                        <label class="checkbox-label" for="checkbox1">Option 1</label>
                    </li>
                    <li>
                        <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
                        <label class="checkbox-label" for="checkbox2">Option 2</label>
                    </li>
                    <li>
                        <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                        <label class="checkbox-label" for="checkbox3">Option 3</label>
                    </li>
                </ul> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->*@

            <div class="cd-filter-block">
                <h4>@ProjectResource.filter_title_subdivisions</h4>

                <div class="cd-filter-content">
                    <div class="cd-select cd-filters">
                        <select class="filter" name="selectThis" id="selectThis">
                            <option value="">@ProjectResource.filter_select_title_select_division</option>
                            <option value=".subdivisions1">Option 1</option>
                            <option value=".subdivisions2">Option 2</option>
                            <option value=".subdivisions3">Option 3</option>
                            <option value=".subdivisions4">Option 4</option>
                        </select>
                    </div> <!-- cd-select -->
                </div> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->
            <div class="cd-filter-block">
                <h4>@ProjectResource.filter_title_status</h4>
                <ul class="cd-filter-content cd-filters list">
                    <li>
                        <input class="filter" data-filter="" type="radio" name="radioButton" id="radio1" checked>
                        <label class="radio-label" for="radio1">@ProjectResource.filter_All</label>
                    </li>
                    <li>
                        <input class="filter" data-filter=".status-open" type="radio" name="radioButton" id="status-open">
                        <label class="radio-label" for="status-open">@ProjectResource.filter_status_open</label>
                    </li>
                    <li>
                        <input class="filter" data-filter=".status-close" type="radio" name="radioButton" id="status-close">
                        <label class="radio-label" for="status-close">@ProjectResource.filter_status_close</label>
                    </li>
                    <li>
                        <input class="filter" data-filter=".status-pause" type="radio" name="radioButton" id="status-pause">
                        <label class="radio-label" for="status-pause">@ProjectResource.filter_status_pause</label>
                    </li>

                </ul> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->
        </form>
        <a href="#0" class="cd-close">@ProjectResource.filter_title_close</a>
    </div> <!-- cd-filter -->
    <a href="#0" class="cd-filter-trigger">@ProjectResource.filter_title_filters</a>
</main> <!-- cd-main-content -->

