@using WebUI.App_GlobalResources;
@{
    ViewBag.Title = @GlobalResource.home_title;
    ViewBag.section = @GlobalResource.home_link_systems;
    Layout = "~/Views/Shared/_Global.cshtml";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/Content/System/system.css">
}

@section scripts {
    @*@Scripts.Render("~/bundles/Ajax")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/DataTables")
    @Scripts.Render("~/bundles/datetime")
    <script src="~/Scripts/jquery.cookie.js" type="text/javascript"></script>
    <script src="~/Scripts/Shared/common.js" type="text/javascript"></script>
    <script src="~/Scripts/api_helpers/metallurgtrans.js" type="text/javascript"></script>
    <script src="~/Scripts/api_helpers/railway.js" type="text/javascript"></script>
    <script src="~/Scripts/api_helpers/kist.js" type="text/javascript"></script>
    <script src="~/Scripts/api_helpers/kis.js" type="text/javascript"></script>
    <script src="~/Scripts/KIS/transfer_kis.js" type="text/javascript"></script>*@
    <script>
        $('body').addClass('img-header-system');
    </script>
}

<div>

</div>