<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/project/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="~/Content/project/global_project.css"> <!-- Resource style -->
    @Scripts.Render("~/bundles/modernizr")

    <title>@ViewBag.Title</title>
    @RenderSection("styles", required: false)
</head>
<body>
    <header class="cd-header">
        <div id="cd-logo"><a href="#0"><img src="~/Images/project/amk_logo.png" alt="Logo"></a></div>
        <nav class="cd-main-nav">
            <ul>
                <!-- inser more links here -->
                <li><a href='@Url.Action("Index", "Home", new { area = "Project" })'>Home</a></li>
                <li><a href='@Url.Action("ProjectList", "Home", new { area = "Project" })'>Программы</a></li>
                <li><a href='@Url.Action("ProgrammList", "Home", new { area = "Project" })'>Проекты</a></li>
            </ul>
        </nav> <!-- cd-main-nav -->
    </header>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
